<!DOCTYPE html>
<html>

<head>
    <link href="../static/css/curriculo.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="body">
    <div class="logo">
        <div><a href='index.html'><img style='width: 80px;' src="#"></a></div>
        <div style="margin-top: 20px;"><a href='index.html' style='text-decoration: none'>
            <font size='5em' color=white></font>
        </a></div>
    </div>
    <div class='flex-container'>
        <div><a href='index.html' style='text-decoration: none'>
                <font color=white>Home</font>
            </a></div>
        <div><a href='curriculo.html' style='text-decoration: none'>
                <font color=white>Curriculo</font>
            </a></div>
        <div><a href='portfolio.html' style='text-decoration: none'>
                <font color=white>Portfólio</font>
            </a></div>
        <div><a href='sobreMim.html' style='text-decoration: none'>
                <font color=white>Hobbies</font>
            </a></div>
    </div>

    <div class="col col-12">
        <form id="frmIndex">
            <div class="fosco">  
                <div class="col-12">
                    <!-- linha 1 -->
                    <div class="row">
                        <div class="col-3"><img class="foto" style='width: 250px; height: 250px;'
                                src="..\static\imagem\Foto_perfil.jpeg"></div>
                        <div class="col-9">
                            <p style="margin-top: 15px;">Idade: 18 anos</p>
                            <p>Dispensado do Serviço Militar</p>
                            <p>Endereço: Rua Rio Canindé, 145 – Santa Inês II</p>
                            <p>Celular: (12) 98896-4448</p>
                            <p>E-mail: rafael.lopes24@Fatec.sp.gov.br</p>
                            <p>Github.com: <a style="color: inherit;" target="_blank"
                                    href="https://Github.com/Rafael-leonardo">/Rafael-leonardo</a></p>
                            <p>Linkedin: <a style="color: inherit;" target="_blank"
                                    href="https://www.linkedin.com/in/rafael-leonardo-lopes">/Rafael-leonardo</a>
                        </div>
                    </div>
                </div>
                <!-- linha 2 -->
                <div class="row">
                    <div class="linha-horizontal col-8"></div>
                    <div class="col-12">
                        <div class="row justify-content-md-center tituloCorpo">Formação acadêmica:</div>
                    </div>
                    <div class="principal col-12">
                        <p style="text-align: center;">
                            <b>Julho, 2021 – Dias atuais</b><br>Desenvolvimento de software multiplataforma - FATEC
                            <br><br>

                            <b>2019 – fevereiro, 2021</b><br> Gestão administrativa <br><br>

                            <b>Janeiro, 2017 – Dezembro, 2019</b><br>
                            Ensino médio em período integral: EEEMI Maria Dolores Veríssimo Madureira
                        </p>
                    </div>
                </div>
                <!-- linha 3 -->
                <div class="row">
                    <div class="linha-horizontal col-8"></div>
                    <div class="col-12 controle">
                        <div class="row justify-content-md-center tituloCorpo column">Habilidades e competências:
                            <div class="column row" style="margin-top: 50px;">
                                &bull; Noções básicas de programação<br>
                                &bull; Espírito de equipe<br>
                                &bull; Proatividade<br>
                                &bull; Equilíbrio emocional<br>
                                &bull; Transparência<br>
                                &bull; Criatividade<br>
                                &bull; Competitividade<br>
                            </div>
                        </div>
                        <div class="row justify-content-md-center tituloCorpo column">Linguas:
                            <div class="column" style="margin-top: 50px;">
                                &bull; inglês - Básico <br>
                                &bull; Espanhol – intermediário <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="linha-horizontal col-8"></div>
                <div class="col-12">
                    <div class="row justify-content-md-center tituloCorpo">Informações Adicionais:</div><br>
                </div>
                <div class="principal col-12">
                    <div style="text-align: center;">
                        <p>Participação na 22ª olimpíada brasileira de astronomia e astronáutica – 2019</p><br>

                        <p>Líder clube juvenil de vôlei – Maria Dolores, 2018 - 2019</p><br>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-md-center tituloCorpo">Tendo parte nas seguintes Eletivas
                            durante o Ensino Médio:</div><br>
                        <div style="text-align: center;">
                            <p><b>-&nbsp;Movimentar se:</b>&nbsp; Foco na prática de esportes, dança e exercícios.</p>
                            <br>
                            <p><b>- &nbsp;Quadradinhos do bem:</b> &nbsp; Elaboração e confecção de cobertores de crochê
                                trabalhados em lã para um lar de idosos.</p><br>
                            <p><b>-&nbsp;Cultura nerd:</b>&nbsp; Abordando cultura japonesa, quadrinhos e tudo
                                relacionado ao tema principal, e como conclusão da eletiva fizemos um curta metragem.
                            </p><br>
                            <p><b>-&nbsp;Poder da pluralidade:</b>&nbsp;Abordando o preconceito e todas as suas formas,
                                e como conclusão da eletiva, elaboramos um projeto de conscientização para toda a
                                escola.</p><br>
                            <p><b>-&nbsp;Mudando o mundo:</b>&nbsp; Abordando o tema empreendedorismo, foram trabalhadas
                                dinâmicas de grupo, proatividade e boas pequenas ações que podem fazer diferença no dia
                                a dia.</p><br>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <footer class='footer' role='contentinfo'>Rodapé</footer>
</body>

</html>