{% extends "layout.html" %}

{% block titulo %}Curriculo{% endblock %}

{% block main %}

    <div class="row">
        <div class="fosco">  
            <div class="col-12">
                <!-- linha 1 -->
                    <div class="row d-flex justify-content-center">

                        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
                            <img class="foto" style="margin-top: 25px; width: 250px; height: 250px; padding: 5px;" 
                                src="..\static\imagem\Foto_perfil.jpeg">
                        </div>

                        <div class="col-12 col-sm-6 col-md-5" style="text-align:center">
                            <p style="margin-top: 15px;">Idade: 18 anos</p><br>
                            <p>Dispensado do Serviço Militar</p><br>
                            <p>Endereço: Rua Rio Canindé, 145 – Santa Inês II</p><br>
                            <p>Celular: (12) 98896-4448</p><br>
                            <p>E-mail: rafael.lopes24@Fatec.sp.gov.br</p><br>
                            <p>Github.com: <a style="color: inherit;" target="_blank"
                                href="https://Github.com/Rafael-leonardo">/Rafael-leonardo</a></p><br>
                            <p>Linkedin: <a style="color: inherit;" target="_blank"
                                href="https://www.linkedin.com/in/rafael-leonardo-lopes">/Rafael-leonardo</a><br>
                        
                        </div>
                    </div>        
            </div>
            <!-- linha 2 -->
            <div class="row">
                <div class="linha-horizontal"></div>
                <div class="row">
                        <div class="col-12"><h4 class="tituloCorpo" style="text-align: center;">Formação acadêmica:</h4></div>
                    <div class="principal">
                        <p style="text-align: center;">
                        <b>Julho, 2021 – Dias atuais</b><br>Desenvolvimento de software multiplataforma - FATEC
                        <br><br>
                        <b>2019 – fevereiro, 2021</b><br> Gestão administrativa <br><br>
                        <b>Janeiro, 2017 – Dezembro, 2019</b><br>
                            Ensino médio em período integral: EEEMI Maria Dolores Veríssimo Madureira
                        </p>
                    </div>
                </div>
            </div>
            <!-- linha 3 -->
            <div class="row">
                <div class="linha-horizontal"></div>
                <div class="col-12">
                    <div class="row justify-content-center d-flex">
                        <div class="col-12 col-sm-6 col-md-5">    
                            <h4 class="tituloCorpo">Habilidades e competências:</h4>
                            <div class="offset-2">
                                &bull; Noções básicas de programação<br>
                                &bull; Espírito de equipe<br>
                                &bull; Proatividade<br>
                                &bull; Equilíbrio emocional<br>
                                &bull; Transparência<br>
                                &bull; Criatividade<br>
                                &bull; Competitividade<br>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="justify-content-md-center">
                                <h4 class="tituloCorpo">Linguas:</h4>
                                <div class="offset-2">
                                    &bull; inglês - Básico <br>
                                    &bull; Espanhol – intermediário <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linha-horizontal"></div>
            
            <div class="row justify-content-md-center">
                <h4 class="tituloCorpo" style="text-align: center;">Informações Adicionais:</h4><br>
                
                <div style="text-align: center;">
                    <p>Participação na 22ª olimpíada brasileira de astronomia e astronáutica – 2019</p><br>
                    <p>Líder clube juvenil de vôlei – Maria Dolores, 2018 - 2019</p><br>
                </div>
            </div>

            <div class="linha-horizontal"></div>
            <div class="row justify-content-center ">
                <h4 class="tituloCorpo" style="text-align: center;">Tendo parte nas seguintes Eletivas durante o Ensino Médio:</h4><br>
                    <div style="text-align: center;">
                        <p><b>-&nbsp;Movimentar se:</b>&nbsp; Foco na prática de esportes, dança e exercícios.</p>
                        <br>
                        <p><b>- &nbsp;Quadradinhos do bem:</b> &nbsp; Elaboração e confecção de cobertores de crochê
                            trabalhados em lã para um lar de idosos.</p><br>
                        <p><b>-&nbsp;Cultura nerd:</b>&nbsp; Abordando cultura japonesa, quadrinhos e tudo
                            relacionado ao tema principal, e como conclusão da eletiva fizemos um curta metragem.
                        </p><br>
                        <p><b>-&nbsp;Poder da pluralidade:</b>&nbsp;Abordando o preconceito e todas as suas formas,
                            e como conclusão da eletiva, elaboramos um projeto de conscientização para toda a
                            escola.</p><br>
                        <p><b>-&nbsp;Mudando o mundo:</b>&nbsp; Abordando o tema empreendedorismo, foram trabalhadas
                            dinâmicas de grupo, proatividade e boas pequenas ações que podem fazer diferença no dia
                            a dia.</p><br>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}