{% extends "layout.html" %}

{% block titulo %}Hobbies{% endblock %}

{% block main %}
        <div class="fosco">
            <div class="col-12">
                <!-- linha 1 -->
                <div class="row">

                    <div class="col-12 tituloCorpo" style="text-align: center;">
                        <h1><b>Hobbies:</b></h1>
                    </div>

                    <div class="linha-horizontal"></div>
                
                </div>

                <div class="row d-flex justify-content-center">

                    <div class="col-10 col-sm-8 col-md-4 col-lg-4 justify-content-center" style="margin-top: 15px;">
                        <img class="fotoPortfolio" style="border-radius: 10%;" src="../static/imagem/volei-brasil-masculino-onde-assistir-horario.jpg" alt="Imagem volei">
                    </div>
                    <div class="col-10 col-sm-8 col-md-4 col-lg-4" style="margin-top: 40px;">
                        <p>Uma das minhas principais coisas que cosidero é jogar
                            volei, assistir animes, tocar flautam, conhecer novas tecnologias em TI, estudar, assistir series e cozinhar.</p>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}