{% extends "layout.html" %}

{% block titulo %}Inicio{% endblock %}

{% block main %}

    <div class="col-12">
        <form id="frmIndex">
            <div class="fosco">
                    <div class="col-12">
                        <!-- linha 1 -->
                        <div class="row">
                            <div class="col-12 tituloCorpo" style="text-align: center;">
                                <h1><b>Bem vindo!</b></h1>
                            </div>
                            <div class="linha-horizontal"></div>
                            <div>
                                <div class="offset-1 col-10">
                                    <p style="margin-top: 15px;">Eu me chamo Rafael Leonardo, sou aluno da Fatec-São Jose
                                        dos campos cursando Desenvolvimento de software multiplataforma.</p>
                                    <p>O objetivo desta aplicação é compartilhar o meu portfólio e tambem um lugar que eu
                                        possa armazenar e mostrar os meu projetos, mostrar um pouco dos meus gostos e sobre
                                        mim.
                                        Todos os meus projetos terão ênfase em tecnologia da informação.</p>
                                    <p>Obrigado pela atenção!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}