<!DOCTYPE html>
<html>

<head>
    <link href="../static/css/curriculo.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="body">
    <div class="logo">
        <div><a href='index.html'><img style='width: 80px;' src="#"></a></div>
        <div style="margin-top: 20px;"><a href='index.html' style='text-decoration: none'>
                <font size='5em' color=white></font>
            </a></div>
    </div>
    <div class='flex-container'>
        <div><a href='index.html' style='text-decoration: none'>
                <font color=white>Home</font>
            </a></div>
        <div><a href='curriculo.html' style='text-decoration: none'>
                <font color=white>Curriculo</font>
            </a></div>
        <div><a href='portfolio.html' style='text-decoration: none'>
                <font color=white>Portfólio</font>
            </a></div>
        <div><a href='hobbies.html' style='text-decoration: none'>
                <font color=white>Hobbies</font>
            </a></div>
    </div>
    <div class="col col-12">
        <form id="frmIndex">
            <div class="fosco">
                <div class="col-12">
                    <!-- linha 1 -->
                    <div class="row">
                        <div class="col-12 tituloCorpo" style="text-align: center;">
                            <h1><b>Portfólio:</b></h1>
                        </div>
                        <div class="linha-horizontal col-8"></div>
                        <div class="col-9">
                            <div style=" margin-top: 15px; text-align: center; margin-left: 45%;">
                                <h2>API-DSM.</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3"><img class="fotoPortfolio" style="width: 300px;"
                                src="../static/imagem/API-DSM.png" alt="Imagem da API"></div>
                                <div class="col-9" style="margin-top: 15px;">
                                    <p>Desenvolvimento de um portal de informações para o Corpo Docente, Discente e
                                        Administrativo da Fatec SJC capaz de exibir e gerar de forma seletiva e controlada
                                        os avisos gerais ou específicos de cada usuário, respeitando as respectivas
                                        hierarquias dentro da universidade com o intuíto de melhorar a comunicação interna
                                        da instituição.</p>
                                        <p>Github.com: <a style="color: inherit;" target="_blank"
                                            href="https://github.com/Monkey-Type/API-DSM">API-DSM</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div style=" margin-top: 15px; text-align: center; margin-left: 45%;">
                                <h2>Aplicações simples com Flask.</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3"><img class="fotoPortfolio" style="width: 300px;"
                                src="../static/imagem/Aplicação-flask-simples.png" alt="Imagem da API"></div>
                                <div class="col-9" style="margin-top: 15px;">
                                    <p>Desenvolvimento de uma aplicação web na qual tera uma pagina home, um jogo simples de
                                        adivinhação, um transformador de codigo binario em decimal e um identificador de
                                        triangulos a partir de 3 valores.</p>
                                        <p>Github.com: <a style="color: inherit;" target="_blank"
                                            href="https://github.com/Rafael-leonardo/flask-teste">Aplicação flask</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer class='footer' role='contentinfo'>Rodapé</footer>
</body>

</html>