{% extends "layout.html" %}

{% block titulo %}Projetos{% endblock %}

{% block main %}

<div class="fosco">
    <div class="row">

        <div class="col-12 tituloCorpo" style="text-align: center;">
            <h1><b>Projetos:</b></h1>
        </div>

        <div class="linha-horizontal"></div>

        <div style="margin-top: 25px;">
            <div class="row justify-content-center d-flex">
                
                <div class="col-12">
                    <h2 style="text-align: center;">API-DSM.</h2>
                </div>

                <div class="col-10 col-sm-8 col-md-6 col-lg-4 d-flex">
                    <img class="fotoPortfolio" src="../static/imagem/API-DSM.png" alt="Imagem da API" style="border-radius: 5%">
                </div>
                
                <div class="col-10 col-sm-8 col-md-5 col-lg-6 justify-content-center" style="margin-top: 25px;">
                    <p>Desenvolvimento de um portal de informações para o Corpo Docente, Discente e
                        Administrativo da Fatec SJC capaz de exibir e gerar de forma seletiva e controlada
                        os avisos gerais ou específicos de cada usuário, respeitando as respectivas
                        hierarquias dentro da universidade com o intuíto de melhorar a comunicação interna
                        da instituição.</p>
                    <p>Github.com: <a style="color: inherit;" target="_blank"
                            href="https://github.com/Monkey-Type/API-DSM">API-DSM</a></p>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}