<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/curriculo.css"/>
  </head>

  <body class="body">
    {% block nav %}
    <header>
      <nav>
        <a class="logo" href="/">Rafael Leonardo</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Início</a></li>
          <li><a href="/curriculo">Curriculo</a></li>
          <li><a href="/projetos">Projetos</a></li>
          <li><a href="/hobbies">Hobbies</a></li>
        </ul>
      </nav>
    </header>
    {% endblock %}

    <main>

        {% block main %}

        {% endblock %}
        
    </main>
      
    <script src="../static/js/mobile-navbar.js"></script>

    </body>
</html>