{% extends "layout.html" %}

{% block titulo %}Projetos{% endblock %}

{% block main %}

        <div class="fosco">
            <div>
                <form action="" method="post">
                    input
                </form>
            </div>
            <div>
                <div>
                    <div class="tituloCorpo" style="text-align: center;">
                        <h1><b>Portfólio:</b></h1>
                    </div>
                    <div class="linha-horizontal"></div>
                    <div>
                        <div style="margin-top: 15px; text-align: center; margin-left: 45%;">
                            <h2>API-DSM.</h2>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <img class="fotoPortfolio" style="width: 300px;"
                                src="../static/imagem/API-DSM.png" alt="Imagem da API">
                            </div>
                            <div style="margin-top: 15px;">
                                <p>Desenvolvimento de um portal de informações para o Corpo Docente, Discente e
                                    Administrativo da Fatec SJC capaz de exibir e gerar de forma seletiva e controlada
                                    os avisos gerais ou específicos de cada usuário, respeitando as respectivas
                                    hierarquias dentro da universidade com o intuíto de melhorar a comunicação interna
                                    da instituição.</p>
                                    <p>Github.com: <a style="color: inherit;" target="_blank"
                                        href="https://github.com/Monkey-Type/API-DSM">API-DSM</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}