<!DOCTYPE html>
<html>

<head>
    <link href="../static/css/curriculo.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="body">
    <div class="logo">
        <div><a href='index.html'><img style='width: 80px;' src="#"></a></div>
        <div style="margin-top: 20px;"><a href='index.html' style='text-decoration: none'>
                <font size='5em' color=white></font>
            </a></div>
    </div>
    <div class='flex-container'>
        <div><a href='index.html' style='text-decoration: none'>
                <font color=white>Home</font>
            </a></div>
        <div><a href='curriculo.html' style='text-decoration: none'>
                <font color=white>Curriculo</font>
            </a></div>
        <div><a href='portfolio.html' style='text-decoration: none'>
                <font color=white>Portfólio</font>
            </a></div>
        <div><a href='sobreMim.html' style='text-decoration: none'>
                <font color=white>Hobbies</font>
            </a></div>
    </div>
    <div class="col col-12">
        <form id="frmIndex">
            <div class="fosco">
                <div class="col-12">
                    <!-- linha 1 -->
                    <div class="row">
                        <div class="col-12 tituloCorpo" style="text-align: center;">
                            <h1><b>Hobbies:</b></h1>
                        </div>
                        <div class="linha-horizontal col-8"></div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3" style="margin-top: 15px; margin-left: 40px;"><img class="fotoPortfolio" style="width: 300px;"
                                src="../static/imagem/volei-brasil-masculino-onde-assistir-horario.jpg" alt="Imagem volei"></div>
                                <div class="col-5" style="margin-top: 80px;">
                                    <p>Uma das minhas principais coisas que cosidero é jogar
                                         volei, jogar jogos em geral,assistir animes, tocar flauta e conhecer novas tecnologias em TI.</p>
                                </div>
                                <div class="col-3" style="margin-top: 15px;"><img class="fotoPortfolio" style="width: 300px;"
                                    src="../static/imagem/wildRift.jpg" alt="Imagem Wild Rift"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer class='footer' role='contentinfo'>Rodapé</footer>
</body>

</html>
